body {
    background: #f5f6ff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px #ccc;
}

h1 {
    text-align: center;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #999;
}

button {
    padding: 10px 15px;
    background: #0062ff;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0048c2;
}

#taskList {
    margin-top: 15px;
    list-style: none;
    padding: 0;
}

li {
    background: #eef0ff;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
}
